.msg-body {
    background-image: url('../styles/library.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFE0B2 !important;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iphone-x {
    position: relative;
    
    margin-left: auto;
    margin-right: 15vw; 
    width: 307.8px;      
    height: 666.9px;     
    background-color: #7371ee;
    background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
    border-radius: 34.2px; 
    box-shadow: 0px 0px 0px 9.9px #1f1f1f, 0px 0px 0px 11.7px #191919, 0px 0px 0px 18px #111; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Home button indicator */
    &:after {
        bottom: 5.985px;   
        width: 119.7px;    
        height: 3.42px;  
        background-color: #f2f2f2;
        border-radius: 8.55px; 
    }

    /* Frontal camera/speaker frame */
    &:before {
        z-index: 1050;
        top: 0px;
        width: 47.88%;    
        height: 25.65px;    
        background-color: #1f1f1f;
        border-radius: 0px 0px 34.2px 34.2px; 
    }

    i,
    b,
    span {
        position: absolute;
        display: block;
        color: transparent;
    }

    /* Speaker */
    i {
        z-index: 1050;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 5.13px); 
        height: 6.84px;  
        width: 12.825%;   
        background-color: #101010;
        border-radius: 6.84px; 
        box-shadow: inset 0px -2.565px 2.565px 0px rgba(256, 256, 256, 0.2); 
    }

    /* Camera */
    b {
        z-index: 1050;
        left: 8.55%;  
        top: 0px;
        transform: translate(153.9px, 3.42px); 
        width: 10.26px;    
        height: 10.26px;   
        background-color: #101010;
        border-radius: 10.26px; 
        box-shadow: inset 0px -2.565px 1.71px 0px rgba(256, 256, 256, 0.2); 
        
        &:after {
            content: '';
            position: absolute;
            background-color: #2d4d76;
            width: 5.13px;   
            height: 5.13px;  
            top: 2.565px;     
            left: 2.565px;    
            display: block;
            border-radius: 3.42px;
            box-shadow: inset 0px -1.71px 1.71px rgba(0, 0, 0, 0.5); 
        }
    }
}


.msg-container {
    flex: 1; /* Fill available space between top and input */
    padding: 10px;
    overflow-y: auto;
    max-height: 86%; /* Limit height to ensure space for input */
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 5vh;
    background-color: rgba(255, 255, 255, 0.8); /* Optional background for messages */
}

.msg {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    
}

.iphone-input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.send-btn {
    padding: 10px 16px;
    background-color: #0e7afe;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.msg-text {
    z-index: 0;
    position: relative;
    background-color: #e0e0e0; /* Light grey background */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333; /* Dark text for contrast */
    max-width: 80%; /* Prevent the message from stretching too wide */
    word-wrap: break-word; /* Break long words to avoid overflow */
}

.msg-text-user {
    background-color: #0e7afe; /* Light blue background */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white; /* Dark text for contrast */
    word-wrap: break-word; /* Break long words to avoid overflow */
    margin-left: 10vw;
}

.logout-button{
    position: absolute;
    top: 0;
    left: 20px;
    width: 10vw;
    height: 60px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(72, 66, 66);

    color: white;

    transition: 300ms;
}
.logout-button:hover{
    transition: 300ms;
    width: 11vw;
    height: 65px;
    box-shadow: 0px 7px 10px 3px hsla(39, 99%, 54%, 0.7);
}

.home-button{
    position: absolute;
    bottom: 0;
    left: 2.5vw;
    width: 45vw;
    height: 60px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(72, 66, 66);

    font-size: 1.5rem;

    color: white;

    transition: 300ms;
}
.home-button:hover{
    transition: 300ms;
    width: 46vw;
    height: 65px;
    box-shadow: 0px 7px 10px 3px hsla(39, 99%, 54%, 0.7);
}